* {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    box-sizing: border-box; 
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

/* html {
    position: relative; 
} */

h1 {
    color: white; 
    font-size: 30px; 
    font-weight: bold; 
    line-height: 1.8; 
}

h2 {
    color: #4aaaa5; 
    font-size: 25px;
    font-weight: bold; 
    line-height: 1.8; 
}

h3 {
    color: white; 
    font-size: 20px; 
    font-weight: bold; 
    line-height: 1.6; 
}


header {
    height: 60px; 
    width: 100%; 
    background-color: #ffffff; 
    overflow: hidden; 
    border-style: hidden hidden solid hidden; 
    border-color: #dddddd;
    border-width: 1px; 
    position: relative;
}  

#title {
    float: left; 
    background-color: #4aaaa5; 
    height: 60px;
    margin: 0 2% 0 10%; 
    padding: 5px;
    width: 220px;
    text-align: center; 
}

/*LG SCREEN NAV BAR*/
.nav {
    visibility: visible; 
    float: right; 
    margin: 0 10% 0 0; 
    height: 60px;
}

.nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: #777777; 
}

.nav li {
    text-align: center; 
    float: left; 
    color: #777777; 

    
}

.nav li a {
    display: table-cell; 
    vertical-align: middle; 
    text-decoration: none;
    width: 100px;
    height: 60px;
    list-style-type: none;
}

.nav li a:hover {
    background-color: #4aaaa5; 
    color: white;
}

/* SM SCREEN NAV DROPDOWN */
.dropbtn {
    background-color: #4aaaa5;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    height: 60px;
    width: 100px; 
    font-size: 18px; 
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: absolute;
    top: 0;
    right: 50px;
    display: inline-block;
    visibility: hidden;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
}



/* Links inside the dropdown */
.dropdown-content li a {
    color: black;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
}

.dropdown-content li {
    list-style-type: none;
    right: 0;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #4aaaa5;
    color: white; 
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
    right: 0;
}

body {
    position: relative; 
    z-index: 1;
}

.content {
    float: left;
    width: 100%; 
    clear: both; 
    padding: 10px; 
    color: #777777; 
    background-image: url("../images/cork-wallet.png");
    z-index: 1;
}

footer {
    background-color: #666666; 
    color: white; 
    clear: both; 
    height: 60px;  
    text-align: center; 
    padding: 20px;
    border-style: solid hidden hidden hidden; 
    border-color: #4aaaa5;
    border-width: 5px; 

}

#side_bar {
    height: 200px;
    width: 270px;
    background-color: #ffffff; 
    margin: 20px 10px 20px 10%; 
    padding: 10px;
    float: left; 
    text-align: center; 
    border-radius: 10px; 

}

.connect_img {
    height: 60px;
    width: 60px;
    margin: 10px; 
    border-radius: 5px; 
}

.connect_img:hover {
    box-shadow: 5px 5px 10px #4aaaa5; 
    /* box-shadow: 0 4px 8px 0 #4aaaa5, 0 6px 20px 0; */
    transition: 2s; 
}



/* ABOUT PAGE */
#about {
    height: 400px;
    width: 650px;
    background-color: #ffffff; 
    margin: 20px 10px 20px 10%; 
    float: left; 
    padding: 20px;
    border-radius: 10px; 
}

#profile_img {
    height: 190px;
    width: 160px;
    margin: 15px;
    position: relative;
    float: left; 
}

#about p {
    margin: 10px; 
    line-height: 1.5; 
}


/* PORTFOLIO PAGE */
#portfolio {
    height: 800px;
    width: 650px;
    background-color: #ffffff; 
    margin: 20px 10px 20px 10%; 
    float: left; 
    padding: 20px;
    border-radius: 10px; 
}

.portfolio_img {
    height: 198px;
    width: 198px;
    z-index: 1;
}

.portfolio_banner {
    height: 40px; 
    width: 200px;
    /* opacity: .9;  */
    display: block; 
    padding: 5px;
    background-color: #4aaaa5;
    color: white; 
    font-size: 15px;
    text-align: center; 
    z-index: 2;
    position: absolute; 
    bottom: 15px; 
}

#portfolio_box {
    height: 200px;
    width: 200px;
    float: left; 
    position: relative; 
    bottom: -10px; 
    box-shadow: 5px 5px 10px #4aaaa5;
    margin: 20px 50px; 
}


/* CONTACT PAGE */
#contact {
    height: 450px;
    width: 650px;
    background-color: #ffffff; 
    margin: 20px 10px 20px 10%; 
    float: left; 
    padding: 20px;
    border-radius: 10px; 
}

form {
    line-height: 1.6; 
    font-family: Arial, Helvetica, sans-serif;
}

input[type="text"] {
    width: 200px; 
    height: 30px;
    padding: 10px 0;
    outline: none;
}

input[type="email"] {
    width: 200px; 
    height: 30px;
    padding: 10px 0;
    outline: none;
}

textarea {
    width: 600px;
    height: 200px;
    resize: none; 
}

input[type="submit"] {
    background-color: #4aaaa5; 
    color: white; 
    border: 1px solid white;
    width: 100px; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px; 
    padding: 6px 0;
    outline: none;
}

input[type="submit"]:hover {
    background-color: #2e6b68; 
}

/* Desktop Layout */
@media screen and (max-width: 980px) {
    
}

/* Tablet Layout */
@media screen and (max-width: 768px) {
    .dropdown {
        visibility: visible;
    }
    .nav {
        visibility: hidden; 
    }

    #about {
        width: 100%; 
        height: 100%;
        margin: 0;
        clear: both;
    }

    #side_bar {
        clear: both; 
        margin: 15px auto; 
    }

    #portfolio {
        width: 100%; 
        height: 100%;
        margin: 0;
        clear: both;
        padding: 10px;
    }

    #portfolio_box {
        height: 180px;
        width: 180px;
        float: left; 
        position: relative; 
        margin: 20px 20px; 
    }

    .portfolio_img {
        height: 178px;
        width: 178px;
    }
        
    .portfolio_banner {
        height: 40px; 
        width: 180px;
    }

    .portfolio_banner h3 {
        font-size: 18px; 
        font-weight: bold; 
        line-height: 1.6; 
    }

    #contact {
        width: 100%; 
        height: 100%;
        margin: 0;
        clear: both;
        padding: 10px;
    }

    textarea {
        width: 550px;
        height: 150px;
    }


}

/* Phone (landscape) Layout */
@media screen and (max-width: 640px) {
    .dropdown {
        visibility: visible;
    }

    header {
        position: static; 
    }

    .nav {
        visibility: hidden; 
    }

    #about {
        width: 100%; 
        height: 100%;
        margin: 0;
        clear: both;
    }

    #profile_img {
        clear: both;
        display: block; 
        margin: 15px 10px; 
    }

    #about p {
        display:block; 
    }

    #portfolio_box {
        height: 150px;
        width: 150px;
        float: left; 
        position: relative; 
        margin: 20px 20px; 
    }

    .portfolio_img {
        height: 148px;
        width: 148px;
    }
        
    .portfolio_banner {
        height: 35px; 
        width: 150px;
    }

    .portfolio_banner h3 {
        font-size: 15px; 
        font-weight: bold; 
        line-height: 1.6; 
    }

    textarea {
        width: 400px;
        height: 150px;
    }

}

@media screen and (max-width: 450px) {
    
    #profile_img {
        margin: 15px 80px; 
    }

    #about p {
        display:block; 
    }

    #side_bar {
        margin: 15px 80px; 
    }

    #portfolio_box {
        height: 140px;
        width: 140px;
        margin: 20px 15px; 
    }

    .portfolio_img {
        height: 138px;
        width: 138px;
    }
        
    .portfolio_banner {
        height: 35px; 
        width: 140px;
    }

    .portfolio_banner h3 {
        font-size: 14px; 
        font-weight: bold; 
        line-height: 1.6; 
    }



    textarea {
        width: 350px;
        height: 150px;
    }
}